!!!
%head
  %link{:href=>"bootstrap/css/bootstrap.css", :rel=>"stylesheet"}
  %link{:href=>"screen.css", :rel=>"stylesheet"}

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href=>"333.html"} Settle
      %ul.nav.pull-right
        %li
          %a{:href=>"project_overview_document.html"} Project Overview Document

.container
  .page-header
    %h1 Project Timeline Document
