!!!
%head
  %link{:href=>"bootstrap/css/bootstrap.css", :rel=>"stylesheet"}
  %link{:href=>"screen.css", :rel=>"stylesheet"}

.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href=>"333.html"} Settle
      %ul.nav.pull-right
        %li
          %a{:href=>"project_overview_document.html"} Project Overview Document

.container
  .page-header
    %h1 Project Timeline Document
  %ul
    %li
      %strong March 8, 2012
      %p Initial meeting, and initial project discussion. We walked through all the steps a user would take to start, play, and complete a game using our site. We discussed the technologies we would need to build the site.
    %li
      %strong March 16, 2012
      %p Second meeting, discussed our Project Overview Document. We are able to build a scalable and modular board with SVG. We developed an initial node.js site flow, and finished setting up an SVG textbox to use for the messaging system.